<template>
    <div id="five-day-forecast-container">
      <div class="page-title">
        <div>5 DAY FORECAST</div>
        <input type="text" name="city" id="city-name" placeholder="Enter U.S. City" v-model="defaultCityName">
        <div id="update-button" @click="getWeatherData(defaultCityName)">UPDATE</div>
      </div>
      <div id="current-day-temp">
        <p>Current Temperature</p>
        <p>{{ currentTemp }}</p>
      </div>
      <div id="forecast-card-container">
        <Card v-for="info in fiveDayForecastData"
        :key="info.day"
        :day="info.day"
        :high="info.high"
        :low="info.low"></Card>
      </div>
    </div>
</template>

<script>
import axios from 'axios';

import Card from '../components/card';

export default {
  data () {
    return {
      fiveDayForecastData: [
        {
          day: 'no data',
          high: 0,
          low: 0
        },
        {
          day: 'no data',
          high: 0,
          low: 0
        },
        {
          day: 'no data',
          high: 0,
          low: 0
        },
        {
          day: 'no data',
          high: 0,
          low: 0
        },
        {
          day: 'no data',
          high: 0,
          low: 0
        }
      ],
      defaultCityName: 'Orlando',
      currentTemp: 'no data'
    }
  },
  components: {
    Card
  },
  beforeMount () {
    this.getWeatherData(this.defaultCityName);
  },
  methods: {
    getWeatherData: function (cityName) {
      this.getFiveDayForecast(cityName);
      this.getCurrentTemperature(cityName);
    },
    getFiveDayForecast: function (cityName) {
      axios.get(`http://localhost:3000/api/five-day-forecast/${cityName}`)
        .then((res) => {
          this.fiveDayForecastData = res.data;
        });
    },
    getCurrentTemperature: function (cityName) {
      axios.get(`http://localhost:3000/api/current-weather/${cityName}`)
        .then((res) => {
          this.currentTemp = `${res.data.temp}°F`;
        });
    }
  }
}
</script>

<style scoped>
  .page-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  #city-name {
    background-color: rgb(74, 74, 237);
    color: white;
    border: none;
    font-size: 40px;
  }

  #current-day-temp {
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
  }

  #five-day-forecast-container {
    display: flex;
    flex-direction: column;
  }

  #forecast-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
  }

  p {
    margin: 0;
  }

  input {
    margin-top: 20px;
    text-align: center;
    max-width: 95vw;
  }

  #update-button {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background-color: rgb(159, 159, 255);
    text-align: center;
    display: table-cell;
    line-height: 50px;
    font-size: 20px;
  }

  #update-button:hover {
    background-color: rgb(124, 124, 255);
    cursor: pointer;
  }
</style>

