<template>
  <div class="card">
    <div id="card-day" class="card-item">
      {{ day }}
    </div>
    <div id="card-high-low-temp" class="card-item">
      <div id="high-temp" class="temp-item">
        <p>{{ high }}°F</p>
        <p>HIGH</p>
      </div>
      <div id="low-temp" class="temp-item">
        <p>{{ low }}°F</p>
        <p>LOW</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'day',
    'high',
    'low'
  ]
}
</script>

<style scoped>
  .card {
    height: 300px;
    width: 250px;
    background-color: rgba(146, 222, 255, 0.7);
    display: flex;
    flex-direction: column;
    color: white;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .card-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #card-day {
    height: 60%;
    font-size: 40px;
  }

  #card-high-low-temp {
    height: 40%;
    border-top: solid gray 1px;
  }

  .temp-item {
    width: 50%;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  #low-temp {
    border-left: solid gray 1px;
  }

  p {
    margin: 0;
  }
</style>
